
<head>
    <link rel='stylesheet' href='/stylesheets/pagination.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>


<div class="pagination-wrapper">
    <ul class="uk-pagination" uk-margin>
        <% if(projects.page - 1) { %>
            <li class="list-wrapper "><a class="arrow-prevnext"  href="/projects?page=<%= projects.page - 1 %>"><span uk-pagination-previous></span></a></li>
        <% } %>
        <% if(projects.page > 9) { %>
            <li class="list-wrapper"><a  href="/projects?page=1">1</a></li>
        <% } %>   
        <% var i = ((projects.page) > 2 ? projects.page - 2 : 1) %>
        <% if (i !== 1) { %>
            <li class="list-wrapper"><a >...</a></li>
        <% } %>
        <% if(projects.pages> 1 && projects.docs.length) { %>
            <% for (; i <= (projects.page + 2) && i <= projects.pages; i++) { %>
                <% if (i == projects.page) { %>
                    <li class="list-wrapper"><a ><%= i %></a></li>
                <% } else { %>
                    <li class="list-wrapper"><a  href="/projects?page=<%= i %>"
                        <%= i === projects.page ? 'style=color:#000;' : '' %>
                        
                    ><%= i %></a></li>
                <% } %>
                <% if (i == projects.page + 2 && i < projects.pages) { %>
                    <li class="list-wrapper"><a >...</a></li>
                <% } %>
            <% } %>
            
        <% } %>
        <% if((projects.page + 1) <= projects.pages) { %>
            <li class="list-wrapper"><a class="arrow-prevnext"  href="/projects?page=<%= projects.page + 1 %>"><span uk-pagination-next></span></a></li>
        <% } %>

        
    </ul>
</div>

