
<head>
    <link rel='stylesheet' href='/stylesheets/pagination.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>



<div class="pagination-wrapper">
    <ul class="uk-pagination" uk-margin>
        <% if(projects.page - 1) { %>
            <a class="arrow-prevnext" href="/projects?page=<%= projects.page - 1 %>"><li class="list-wrapper"><span uk-pagination-previous></span></li></a>
        <% } %>
         
        <% var i = ((projects.page) > 2 ? projects.page - 2 : 1) %>
        <% if (i !== 1) { %>
            <a ><li class="list-wrapper">...</li></a>
        <% } %>
        <% if(projects.pages> 1 && projects.docs.length) { %>
            <% for (; i <= (projects.page +1) && i <= projects.pages; i++) { %>
                <% if (i == projects.page) { %>
                    <a>
                        <li class="list-wrapper" <%= i === projects.page ? 'style=background-color:#98B8FF;color:white' : '' %> >
                                <%= i %>
                        </li>
                    </a>
                <% } else { %>
                    <a href="/projects?page=<%= i %>">
                        <li class="list-wrapper"  <%= i === projects.page ? 'style=color:#000;' : '' %> >
                                <%= i %>
                        </li>
                    </a>
                    
                <% } %>
                <% if (i == projects.page + 4 && i < projects.pages) { %>
                    <a ><li class="list-wrapper">...</li></a>
                <% } %>
            <% } %>
            
        <% } %>
        <% if((projects.page + 1) <= projects.pages) { %>
            <a class="arrow-prevnext" href="/projects?page=<%= projects.page + 1 %>"><li class="list-wrapper"><span uk-pagination-next></span></li></a>
        <% } %>        
    </ul>
</div>
