
<head>
    <link rel='stylesheet' href='/stylesheets/pagination.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<div class="pagination-wrapper">
    <ul class="uk-pagination" uk-margin>
        <% if(guides.page - 1) { %>
            <a class="arrow-prevnext" href="/guides?page=<%= guides.page - 1 %>"><li class="list-wrapper"><span uk-pagination-previous></span></li></a>
        <% } %>
        <% if(guides.page > 9) { %>
            <a  href="/guides?page=1"><li class="list-wrapper">1</li></a>
        <% } %>   
        <% var i = ((guides.page) > 2 ? guides.page - 2 : 1) %>
        <% if (i !== 1) { %>
            <li class="list-wrapper"><a >...</a></li>
        <% } %>
        <% if(guides.pages> 1 && guides.docs.length) { %>
            <% for (; i <= (guides.page + 2) && i <= guides.pages; i++) { %>
                <% if (i == guides.page) { %>
                    <a>
                        <li class="list-wrapper" <%= i === guides.page ? 'style=background-color:#98B8FF;color:white' : '' %> >
                                <%= i %>
                        </li>
                    </a>
                <% } else { %>
                    <a href="/guides?page=<%= i %>">
                        <li class="list-wrapper"  <%= i === guides.page ? 'style=color:#000;' : '' %> >
                                <%= i %>
                        </li>
                    </a>
                    
                <% } %>
                <% if (i == guides.page + 2 && i < guides.pages) { %>
                    <li class="list-wrapper"><a >...</a></li>
                <% } %>
            <% } %>
            
        <% } %>
        <% if((guides.page + 1) <= guides.pages) { %>
            <a class="arrow-prevnext" href="/guides?page=<%= guides.page + 1 %>"><li class="list-wrapper"><span uk-pagination-next></span></li></a>
        <% } %>

        
    </ul>
</div>