<head>
	<link rel='stylesheet' href='/stylesheets/search-article.css' />
</head>
<div class="search-filter">
    <h1 class="title-text">Статьи</h1>
    <form action="/articles" method="GET">
        <input type="search" class="search-input" placeholder="Искать" name="search" id="seach" value="<%= query.search %>">
        <div class="input-group">
            
            
            <fieldset>
                    
                
                <div class="category-filter">
                    <div class="checkbox-container">
                        <input type="radio" name="category" class="checkbox" id="all"  value="" <%= query.category === '' ? 'checked' : '' %>>
                        <label for="all" class="checklabel">Все статьи</label>
                    </div>
                    <div class="checkbox-container">
                        <input type="radio" name="category" class="checkbox" id="residence"  value="ВНЖ" <%= query.category === 'ВНЖ' ? 'checked' : '' %>>
                        <label for="residence" class="checklabel">ВНЖ</label>
                    </div>
                    <div class="checkbox-container">
                        <input type="radio" name="category" class="checkbox" id="invest" value="Инвестиции" <%= query.category === 'Инвестиции' ? 'checked' : '' %>>
                        <label for="invest" class="checklabel">Инвестиции</label>
                    </div>
                    <div class="checkbox-container">
                        <input type="radio" name="category" class="checkbox" id="taxes" value="Налоги" <%= query.category === 'Налоги' ? 'checked' : '' %>>
                        <label for="taxes" class="checklabel" >Налоги</label>
                    </div>
                    <div class="checkbox-container">
                        <input type="radio" name="category" class="checkbox height" id="purchase" value="Покупка и оформление" <%= query.category === 'Покупка и оформление' ? 'checked' : '' %>>
                        <label for="purchase" class="checklabel ">Покупка и оформление</label>
                    </div>
                    <div class="checkbox-container">
                        <input type="radio" name="category" class="checkbox" id="markets" value="Рынки и цены" <%= query.category === 'Рынки и цены' ? 'checked' : '' %>>
                        <label for="markets" class="checklabel" >Рынки и цены</label>
                    </div>
                    <div class="checkbox-container">
                        <input type="radio" name="category" class="checkbox" id="news" value="Новости" <%= query.category === 'Новости' ? 'checked' : '' %>>
                        <label for="news" class="checklabel" >Новости</label>
                    </div>
                    
                </div>
             
            </fieldset>
                
            <input type="submit" value="искать" class="input-submit-head">
              
    
            
        </div>
    </form>
    
</div>
	


	

