<% layout('layouts/boilerplate') -%>

<head>
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.0/dist/js/uikit-icons.min.js"></script>
   	
</head>
<div class="uk-container uk-container-expand">
	<form action="/guides/<%= guide.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="ml-3">
		<h1>Обновить гид</h1>
		<div>
			<div>
				<p class="uk-text-bolder uk-margin-top">Название района или города:</p>
				<input type="text" name="title" placeholder="Название" class="uk-input uk-width-1-3"  value="<%= guide.title %>">
			</div>	
		</div>
		<div>
			<div>
				<p class="uk-text-bolder uk-margin-top">Название района или города:</p>
				<input type="text" name="location" placeholder="Местоположение" class="uk-input uk-width-1-3"  value="<%= guide.location %>">
			</div>	
		</div>
		<div>
			<div>
				<p class="uk-text-bolder uk-margin-top">Страна где расположен район или город:</p>
				<input type="text" name="country" placeholder="Страна" class="uk-input uk-width-1-3"  value="<%= guide.country %>">
			</div>	
		</div>
		<div>
			<div>
				<p class="uk-text-bolder uk-margin-top">Текст гида:</p>
				<textarea name="body" placeholder="Текст гида" class="uk-textarea uk-width-1-3" rows="20"><%= guide.body %></textarea>
			</div>
			
		</div>
		<div>
			<p class="uk-text-bolder uk-margin-top" for="inputGroupFile01">Фотографии к гиду:</p>
				<div class="uk-margin">
					<div uk-form-custom>
						<input type="file" accept="images/*" name="images" id="inputGroupFile01" multiple>
						<button class="uk-button uk-button-default" type="button" tabindex="-1">Загрузить</button>
					</div>
			</div>
			<!-- <input name="file1" type="file" accept="application/pdf"> */ -->
			
		</div>
	
		<div class="d-flex flex-row flex-wrap mb-3 justify-content-center">
			
			<% guide.images.forEach(function(image, i) { %>
				<div class="card m-1" style="width: 18rem;">
					<img class="card-img-top" src="<%= image.url %>"/>
					<div class="card-body">
						<label for="image<%= i %>">Delete?</label>
						<input type="checkbox" class="imageDeleteCheckbox" name="deleteImages[]" id="image<%= i %>" value="<%= image.public_id %>">
					</div>
				</div>	
			<% }) %>
	
		</div>
		<div>
			<div class="form-group col-md-3">
				<p class="uk-text-bolder uk-margin-top">Данные для диаграмы:</p>
			
				<% guide.data.forEach(function(data, i) { %>
					<input type="text" name="data" placeholder="Данные" class="uk-input uk-width-1-3"  id="<%= i %>" value="<%= data %> ">
				<% }) %>
			</div>
			<div class="form-group col-md-3">   
				<p class="uk-text-bolder uk-margin-top">Подпись для диаграмы:</p>
				<% guide.labels.forEach(function(label, i) { %>
					<input type="text" name="labels" placeholder="Данные" class="uk-input uk-width-1-3"  id="<%= i %>" value="<%= label %> ">
				<% }) %>
			</div>   
		</div>
		
		
		
	  
		
		<div>
			<div>
				<p class="uk-text-bolder uk-margin-top">Вступление - первые две строки:</p>
				<input type="text" name="introduction" class="uk-input uk-width-1-3"  value="<%= guide.introduction %>">
			</div>	
		</div>
	
	
		<div>
			<div>
				<p class="uk-text-bolder uk-margin-top">Заключение, после второго фото:</p>
				<input type="text" class="uk-input uk-width-1-3" name="conclusions" value="<%= guide.conclusions %>">
			</div>
			<input type="submit" class="uk-button uk-button-secondary uk-margin">	
		</div>
	
	</form>
</div>
