<% layout('layouts/boilerplate') -%>
<head>
    <link rel='stylesheet' href='/stylesheets/article-index.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>



<% include ../partials/searchArticles %>


<div class="wrapper-articles">
    <% articles.docs.forEach(function(article){ %>
        <div class="content-wrapper">
            <div class="shape-white-articles"></div>
            <div class="project-card">
            
                <a href="/articles/<%= article.id %>"><img class="article-image"
                src="<%= image_url(article.images[0].public_id, {width: 460, height: 360,  crop: "fit"}) %>"
                
                alt="<%= article.title %>"></a>    
                
                <a href="/articles/<%= article.id %>">
                    <h3 class="article-title-index "><%= article.title %></h3>
                </a>
                <p class="createdDate">Создано: <%= article.creationDate %></p>
            </div> 
        </div> 
        
    <% }); %>
</div>



<% include ../partials/paginateArticles %>