<% layout('layouts/boilerplate') -%>
<head>
    <link rel='stylesheet' href='/stylesheets/article-show.css' />    
</head>

<div class="article-wrapper">
    <h1 class="title-article"><%= article.title %></h1>
    <div class="wrapper-link-icons">
        <a class="link-all-theme" href="/articles?search=&category=<%= article.category %>">Все по теме <span style="text-transform: lowercase;"><%= article.category %></span></a>
        <div class="icons-group">
            <a href=""><i class="fab fa-twitter icon-artcile"></i></a>
            <a href=""><i class="fab fa-facebook-f icon-artcile"></i></a>
        </div>
        
    </div>
    
    <img class="article-image lazy" 
         data-src="<%= image_url(article.images[0].public_id, {width: 1000, height: 650,  crop: "fit"}) %>" 
         src="<%= image_url(article.images[0].public_id, {width: 60, height: 60,  crop: "fit"}) %>"
         alt="<%= article.title %>"
    >
    
    <p class="article-intro"><%= article.introduction %></p>
    <h5 class="article-category"><%= article.category %></h5>
    <div class="article-text" id="root"></div>

    <img class="article-image lazy" 
         data-src="<%= image_url(article.images[1].public_id, {width: 1000, height: 650,  crop: "fit"}) %>"
         src="<%= image_url(article.images[1].public_id, {width: 60, height: 60,  crop: "fit"}) %>" 
         alt="<%= article.title %>"
    >
    
    <p class="article-conclusion" ><%= article.conclusions %></p>

    <% if (currentUser && currentUser.username === 'admin') { %>
        <div>
            <a href="/articles/<%= article.id %>/edit">
            <button class="btn btn-light mt-2">Edit</button>
        </a> 
        </div>
        <div>
        <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
            <input type="submit" class="btn btn-light mt-2" value="Delete">
        </form>
        </div>
    <% } %>

    <div class="article-author-wrapper">
        <img src="<%= image_url(user.image.public_id, {width: 160, height: 160,  crop: "fit"}) %>" alt="<%= user.username %>" class="author-icon">
        
        <div class="author-content">
            <p class="article-author-title">автор статьи</p>
            <h5 class="article-author-name"><%= user.username %></h5>
            <a href="http://localhost:3000/articles?search=&author=<%= user._id %>" class="link-all-author">посмотреть все статьи автора</a>
            <span></span>
        </div>
        
    </div>
    <div class="more-objects">
    <h2 class="project-title gallery-title more-title" >Больше статей</h2>
    <div class="more-wrapper">
        
        <% articlesMore.forEach(function(article){ %>
            <div class="project-card">
                
                <a href="/articles/<%= article._id %>"><img class="title-image lazy"
                data-src="<%= image_url(article.images[0].public_id, {width: 300, height: 240,  crop: "fit"}) %>"
                src="<%= image_url(article.images[0].public_id, {width: 60, height: 60,  crop: "fit"}) %>" 
                alt="<%= article.title %>"></a>    
                <h2 class="project-title-index"><%= article.title %></h2>    
            </div> 
        <% }); %>
    </div>
    
</div>

</div>


<script>
    
    var myImgs = document.querySelectorAll('.lazy');
    var config = {
        rootMargin: '50px 20px 75px 30px',
        threshold: [0, 0.25, 0.75, 1]
    };
    observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {

                var lazyImage = entry.target
                lazyImage.src = lazyImage.dataset.src
                lazyImage.classList.remove("lazy");
                
            }
        });
    },config);

    myImgs.forEach(image => {
        observer.observe(image);
    });
    

    myImgs.forEach(image => {
        observer.observe(image);
    });
    var body = { features: <%- JSON.stringify(article.body) %> };
     
    var stringHTML = body.features;
    
    //Create temp element holder
    var tempElement = document.createElement("div");
    //Add fetched HTML to tempElement
    tempElement.innerHTML = body.features;
    
    //Now you can query it as it was a normal DOM element
    document.getElementById('root').appendChild(tempElement);
</script>