<% layout('layouts/boilerplate') -%>

<head>
    <link rel='stylesheet' href='/stylesheets/project-index.css' />
    <link rel="stylesheet" href='/stylesheets/circles.css'>
    <link rel="preload" href="fonts/GothamPro-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/MuseoSansCyrl-100.woff2" as="font" type="font/woff2" crossorigin>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
</head>




<div class="content-wrapper">
    <% include ../partials/searchFilter %>
    <div class="shape-white-catalog"></div>
    
    <h1 class="main-title">Каталог</h1>
    <div class='wrapper-project-index'>
       
        <% projects.docs.forEach(function(project){ %>
            <div class="project-card">
                
                <a href="/projects/<%= project.id %>">
                    <img class="title-image lazy"
                         data-src="<%= image_url(project.images[0].public_id, {width: 460, height: 360,  crop: "fit"}) %>"
                         src="<%= image_url(project.images[0].public_id, {width: 60, height: 60,  crop: "fit"}) %>"
                         alt="<%= project.title %>"> 
                
                    <h2 class="project-title-index"><%= project.title %></h2>
                    <h5 class="project-short-info">  <%= project.area %> м2 | <%= project.bedrooms %> спальни</h5>
                    <a class="project-price-index" href="/projects/<%= project.id %>"><div><%= project.price %> $</div></a>
                </a>  
            </div> 
        <% }); %>
    </div>

</div>

<% include ../partials/paginateProjects %>
<div id="map"></div>






<script>
    mapboxgl.accessToken = "<%= mapBoxToken %>";
    var projects = { features: <%- JSON.stringify(projects.docs) %> };
    const myImgs = document.querySelectorAll('.lazy');
    const config = {
        rootMargin: '50px 20px 75px 30px',
        threshold: [0, 0.25, 0.75, 1]
    };
    observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                
                const lazyImage = entry.target
                lazyImage.src = lazyImage.dataset.src
                lazyImage.classList.remove("lazy");
                
            }
        });
    },config);

    myImgs.forEach(image => {
        observer.observe(image);
    });
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>
