<% layout('layouts/boilerplate') -%>

<head>
    <link rel='stylesheet' href='/stylesheets/project-index.css' />
    <link rel="stylesheet" href='/stylesheets/circles.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>




<div class="content-wrapper">
    <% include ../partials/searchFilter %>
    <div class="shape-white-catalog"></div>
    <h1 class="main-title">Каталог</h1>

    <div class='wrapper-project-index'>
        <div class="shape-white-katalog"></div>
        <% projects.docs.forEach(function(project){ %>
            <div class="project-card">
                
                <a href="/projects/<%= project.id %>"><img class="title-image"
                src="<%= project.images[0].url %>"
                alt="<%= project.title %>"></a>    
                
                <h2 class="project-title-index"><%= project.title %></h2>
               <h5 class="project-short-info">  <%= project.area %> м2 | <%= project.bedrooms %> спальни</h5>
                <a class="project-price-index" href="/projects/<%= project.id %>"><div>Цена от: <%= project.price %> $</div></a>
                
            </div> 
        <% }); %>
    </div>

</div>

<% include ../partials/paginateProjects %>
<div id="map"></div>






<script>
    mapboxgl.accessToken = "<%= mapBoxToken %>";
    var projects = { features: <%- JSON.stringify(projects.docs) %> };
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>
