<% layout('layouts/project-show-layout') -%>

<head>
    <link rel='stylesheet' href='/stylesheets/lightbox.css' />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<div class="content-project-wrapper">
    
    <h1 class="project-title"><%= project.title %></h1>
    
    <img 
        class="top-image lazy" 
        data-src="<%= image_url(project.images[0].public_id, {width: 1500, height: 710,  crop: "fit"}) %>"
        src="<%= image_url(project.images[0].public_id, {width: 160, height: 160,  crop: "fit"}) %>"
        alt="<%= project.title %>">
    <div class="swiper-container-mobile" style="margin-bottom: 1rem;">
        <div class="swiper-wrapper"> 
            <% project.images.forEach(function(image,i) { %>
                <img 
                    class="swiper-slide lazy" 
                    data-src="<%= image_url(image.public_id, {width: 800, height: 600,  crop: "fit"}) %>"
                    src="<%= image_url(image.public_id, {width: 60, height: 60,  crop: "fit"}) %>"
                >
                
            <% }) %> 
                
        </div>     
    </div>
    
    <div class="information-wrapper" >
        <div class="text-information">
            <div class="text-content"><%= project.description %></div>
        </div>
        <div class="details-information">
            <div><span class="description-title">Местоположение </span> <span class="location-info"><%= project.location %></span> </div>
            <div class="info-wrapper"><span class="description-title">Площадь </span> <span class="details-info"><%= project.area %> м2</span> </div> 
            <div class="info-wrapper"><span class="description-title">Количество спален </span> <span class="details-info"><%= project.bedrooms %> </span> </div>
            <div class="info-wrapper"><span class="description-title">Расстояние до моря </span> <span class="details-info"><%= project.seaDistance %> метров </span> </div>
            <div class="info-wrapper"><span class="description-title">Тип обьекта </span> <span class="details-info"><%= project.type %> </span> </div>
            <div class="info-wrapper"><span class="description-title">Рекомендации </span> <span class="details-info"><%= project.appointment %> </span> </div>      
            <div class="price-wrapper"><span class="details-price"><%= project.price %> $</span> </div>
            <div class="wrapper-icons">
                <i class="fas fa-phone contact-icon"></i>
                <i class="fab fa-whatsapp contact-icon margin-icon"></i> 
                <% if (project.priceList && project.priceList.length) { %>
                <a href="<%= project.priceList[0].url %>" target="_blank" value="Узнать детали" class="input-submit-head margin-show" >Скачать прайс</a>
                
                <% } %>
            </div>
            <form action="/projects/<%= project.id %>/addTofavourite" method="POST">
                <input class="add-favourite" type="submit" value="Добавить в избранное">
            </form>
            <span class="description-title">Рейтинг объекта </span>
            <div class="rating">
                <% for(let i = 0; i < 5; i++) { %>
                    <% if(i < floorRating) { %>
                    <!-- display a full star -->
                    <i class="fas fa-star yellow"></i>
                    <% } else if((project.avgRating - i) > 0 && (project.avgRating - i) < 1) { %>
                    <!-- display a half star -->
                    <i class="fas fa-star-half-alt yellow"></i>
                    <% } else { %>
                    <!-- display an empty star -->
                    <i class="far fa-star yellow"></i>
                    <% } %>
                <% } %>
            </div>
            
            
            
            <div class="additional-info">
                
            </div>
            
        </div>
        
    </div>
    
    
    <h2 class="project-title gallery-title mobile-hover">Галерея</h2>
    <div class="gallery-show">
            <div class="shape-white-project"></div>
            
            
            <% project.images.forEach(function(image,i) { %>
                <img 
                    data-src="<%= image_url(image.public_id, {width: 800, height: 600,  crop: "fit"}) %>"
                    src="<%= image_url(image.public_id, {width: 60, height: 60,  crop: "fit"}) %>" 
                    class="gallery-item lazy" onclick="openLightbox(<%= i %>);">
                
            <% }) %> 
            
              
            
          
          
          <div id="Lightbox" class="modal">
          
                <div class="swiper-container" >
                    <div class="swiper-wrapper"> 
                            <% project.images.forEach(function(image,i) { %>
                                
                                
                                        <div class="swiper-slide c-gallery-modal__slide" style="background-color: transparent;">
                                        
                                            <img 
                                            
                                            data-src="<%= image_url(image.public_id, {width: 800, height: 600,  crop: "fit"}) %>"
                                            src="<%= image_url(image.public_id, {width: 60, height: 60,  crop: "fit"}) %>"
                                            class="image-gallery lazy">
                                            <span class="slide-title"><%= i+1 %>/<%= project.images.length %>  </span>
                                        </div> 
                                        
                                       
                            <% }) %> 
                            
                              
                    </div>
                    <i class="far fa-window-close close-gallery" onclick="closeLightbox();"></i>        
                </div>
          </div>
    </div>
    
    
    <h2 class="project-title gallery-title">Местоположение</h2>
    <div class="map-container">
        
        <div class="map-info">
            <h5 class="map-position-title">Испания, Гранада, Маракена, Урбанизация Ула</h5>
            <a href="/guides?country=Испания" class="city-link">О Гранаде</a>
            <p class="map-distance">20 км до аэропорта</p>
            <p class="map-distance">8 км до центра города</p>
        </div>
        <div id='map'></div>
    </div>


   



    
    <h2 class="project-title gallery-title">Отзывы</h2>
    <% if(currentUser) { %>
    <h3>Добавить отзыв</h3>
    <form action="/projects/<%= project.id %>/reviews" method="POST">
        <textarea class="uk-textarea uk-width-1-2@s"  name="review[body]" required></textarea>
        <fieldset class="starability-basic">
            <legend>Рейтинг</legend>
            <button class="button-show clear-rating" type="button">Очистить</button>
            <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
            <input type="radio" id="rate1" name="review[rating]" value="1" />
            <label for="rate1" title="Terrible">1 star</label>
            <input type="radio" id="rate2" name="review[rating]" value="2" />
            <label for="rate2" title="Not good">2 stars</label>
            <input type="radio" id="rate3" name="review[rating]" value="3" />
            <label for="rate3" title="Average">3 stars</label>
            <input type="radio" id="rate4" name="review[rating]" value="4" />
            <label for="rate4" title="Very good">4 stars</label>
            <input type="radio" id="rate5" name="review[rating]" value="5" />
            <label for="rate5" title="Amazing">5 stars</label>

            
        </fieldset>
        
        <input type="submit" class="button-show">
    </form>
    
        <% } else { %>
            <h3 class="create-review"> <a href="/register?returnTo=true">Создать отзыв</a></h3> 
        <% } %>
    
        <% project.reviews.forEach(function(review){ %>
            <div class="review-body">
                <div class="review-header">
                    <img src="<%= image_url(review.author.image.public_id, {width: 160, height: 160,  crop: "fit"}) %>" alt="<%= review.author.username %>" class="author-icon" >
                    <div>
                        <a class="author-name"><%= review.author.username %></a>
                        <p class="review-date"><%= review.date %></p>
                    </div>

                </div>
                    <p><%= review.body %></p>
                    <p class="review-rate"> Рейтинг: <%= review.rating %></p>
            </div>
            <% if(currentUser && review.author.equals(currentUser._id)) { %>
            <div>
                
                <input class="uk-input uk-width-1-4@s" type="text" placeholder="Изменить отзыв">
                <form action="/projects/<%= project.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
                    <textarea name="review[body]" class="uk-textarea uk-width-1-2@s" required><%= review.body %></textarea>
                    <fieldset class="starability-basic">
                        <legend>Рейтинг:</legend>
                        <button class="button-show clear-rating" type="button">Очистить</button>
                        <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                        <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
                        <label for="edit-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
                        <label for="edit-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
                        <label for="edit-rate3" title="Average">3 stars</label>
                        <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
                        <label for="edit-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
                        <label for="edit-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    
                    <input type="submit" value="Обновить" class="button-show">   
                </form>
    
                <script>
                    $('#edit-rate<%= review.rating %>').prop('checked', true);
                </script>
                
                <form action="/projects/<%= project.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Удалить" class="button-show">
                </form>
    
                
            </div>
            <% } %>
            
    
        <% }); %>
        
        <!-- display all reviews -->
        <% if (currentUser && currentUser.username === 'admin') { %>

        
            <div>
                <a href="/projects/<%= project.id %>/edit">
                    <button class="button-show">Изменить объект</button>
                </a> 
            </div>
            <div>
                <form action="/projects/<%= project.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Удалить обьект"  class="button-show">
                </form>
            </div>
        <% } %>
    
</div>

<div class="more-objects">
    <div class="more-wrapper">
        <h2 class="project-title gallery-title more-title" >Больше объектов</h2>
        <div class="more-objects-wrapper">
            <% projectsMore.forEach(function(project){ %>
                <div class="project-card">
                    
                    <a href="/projects/<%= project._id %>"><img class="title-image lazy"
                    data-src="<%= image_url(project.images[0].public_id, {width: 460, height: 360,  crop: "fit"}) %>"
                    src="<%= image_url(project.images[0].public_id, {width: 60, height: 60,  crop: "fit"}) %>"
                    alt="<%= project.title %>"></a>    
                    
                    <h2 class="project-title-index"><%= project.title %></h2>
                   <h5 class="project-short-info"> Месторасположение:  <%= project.location %></h5>
                    <a class="project-price-index" href="/projects/<%= project._id %>"><div>Цена от: <%= project.price %>$</div></a>
                    
                </div> 
            <% }); %>
        </div>
    </div>
    
</div>



<script>
   const myImgs = document.querySelectorAll('.lazy');
    const config = {
        rootMargin: '50px 20px 75px 30px',
        threshold: [0, 0.25, 0.75, 1]
    };
    observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                
                const lazyImage = entry.target
                lazyImage.src = lazyImage.dataset.src
                lazyImage.classList.remove("lazy");
                
            }
        });
    },config);

    myImgs.forEach(image => {
        observer.observe(image);
    });
  
  function openLightbox(n) {
    
    document.getElementById('Lightbox').style.display = 'block';
    
    var mySwiper = new Swiper ('.swiper-container', {
        lazy: {
        //  tell swiper to load images before they appear
        loadPrevNext: true,
        // amount of images to load
      	loadPrevNextAmount: 2,
        },
        // Optional parameters
        slidesPerView:'auto',
        spaceBetween: 30,
        centeredSlides: true,
        fadeEffect: {
            crossFade:true
        },
        grabCursor: true,
        initialSlide: n
    });
  };
  
  function closeLightbox () {
    document.getElementById('Lightbox').style.display = 'none';
    
  }
  
  var swiper = new Swiper('.swiper-container-mobile', {
    centeredSlides: true,
    slidesPerView: 'auto',
    spaceBetween: 20,
    grabCursor: true
    
  });

  </script>




